body{
    .container:nth-of-type(3){
        .row{
            .col-12{
                position: relative;
            }
        }
    }
    .container:nth-of-type(4){
        z-index: -2;
        .row{
            z-index: -1;
            height: 300px;
            .col-12{
                z-index: 0;
                .sekil{
                    z-index: 1;
                }
            }
        }
    }
.container-btn{
    position: absolute;
    bottom: 50px;
    right: 70px;
    padding: 12px 30px;
    background-color: rgb(35, 165, 159);
    color: white;
    box-shadow: inset 0 0 5px grey;
}
#icon{
    &:hover{
        font-size: 150%;
    }
}
.btn{
    background-color: transparent;
    border: white;
    &:hover{
        background-color: rgb(158, 154, 154);
    }
}
.submit{
    background-color: transparent;
}
#container{
    .container{
        .row:nth-of-type(1){
            height: 100px;
            .col-4{
                .paket-ad{
                    height: 30px;
                    background-color: #454545;
                    text-align: center;
                    padding: 3px;
                    font-size: 20px;
                    font-weight: bold;
                    color: white;
                }
                .paket-qiymet{
                    height: 70px;
                    background-color: #838383;
                    color: white;
                    text-align: center;
                    font-size: 30px;
                    font-weight: bold;
                    line-height: 1;
                    padding: 20px;
                }
            }
        }
        .row:nth-of-type(2){
            .col-3{
                border: 1px solid black;
                margin: 0px auto;
                height: 120px;
            }
        }
    }
}
.uzvuluk-btn{
    align-self:flex-end; 
    padding:15px 40px;
    margin: auto;
    background-color: #72d5cd;
    border-color: #66b0ab;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
    #regist{
        .container{
            .row{
                height: 100px;
                .col-5{
                    .username{
                        width: 100%;
                        height: 30px;
                        font-size: 16px;
                    }
                    #cins{
                        width: 100%;
                        height: 30px;
                        font-size: 16px;    
                    }
                   
                }
            }
        }
    }
    .create-account{
        border: transparent;
        border-bottom: 5px solid #65b4ad;
        background-color: #72d5cd;
        color: white;
        width: 15%;
        height: 40px;
    }
    .btn-test{
        .gizli{
            z-index: 2;
            position: absolute;
            display: none;
        }
        background-color: transparent;
        border: white;
        
    }
    .btn-test:hover{
        .gizli{
            display: block !important;
            background-color: rgb(122, 122, 122);
        }
        background-color: rgb(158, 154, 154);
        
    }
    #sign{
        z-index: 1;
        display: none;
        position: absolute;
        top: 100px;
        margin-left: 200px;
        height: 100%;
        width: 60%;
        background-color: rgb(236, 236, 234); 
        .exit{
            border: transparent;
            padding: 10px 15px;
        }
        .container:nth-of-type(2){
            .row:nth-of-type(1){
                .col-12{
                    font-size: 20px;
                }
            }
            .row:nth-of-type(2){
                .col-6{
                    text-align: start;
                    .sign-input{
                        height: 30px;
                        width: 80% ;
                    }        
                }
            }
            .row:nth-of-type(3){
                .col-12{
                    .sifre-berpa-link{
                        color: rgb(57, 201, 186);
                        font-size: 17px;
                    }
                }
            }
            .row:nth-of-type(4){
                .col-12{
                    text-align: center;
                }
            }
            .row:nth-of-type(5){
                .col-12{
                    font-size: 20px;
                    font-weight: bold;
                }
            }
            .row:nth-of-type(6){
                .col-12{
                    text-align: center;
                }
            }

        } 
    }
    #giris-fon{
        z-index: 0;
        position: absolute;
        top: 0px;
        height: 1050px;
        width: 100%;
        background-color: rgba(31, 30, 30, 0.5);
        display: none;
    }
    .btn-giris{
        width: 90%;
        padding: 5px 0px;
        margin: auto;
        background-color: #72d5cd;
        border-color: #66b0ab;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
.say-test{
    text-align: end;
    #say_duz{
        display: inline-block;
    }
    #say_umumi{
        display: inline-block;
    }
} 
h1{
    color: #292929;
}
h2{
    color: #292929;
}  
h3{
    color: #292929;
}
h4{
    color: #292929;
}
h5{
    color: #292929;
}
h6{
    color: #292929;
}
p{
    color: #7a7979;
}
#form-search{
    display: inline-block;
}
.logo{
    object-fit: cover;
}

.yoxla{
    border: transparent;
    border-bottom: 5px solid #65b4ad;
    background-color: #72d5cd;
    color: white;
    width: 15%;
    height: 40px;
}

.nav-link{
    color: black;
}

}
