body{
    .container{
        margin-top: 50px;
        .row{
            .col-8{
                margin-left: 150px;
                .acc-header{
                    background-color: gray;
                    width: 100%;
                    height: 40px;
                    border: 1px solid rgb(95, 95, 95);
                    cursor: pointer;
                }
                .acc-body{
                    transition: all 0.3s ease;
                    cursor: progress;
                    width: 100%;
                    border: 2px solid rgb(65, 65, 65);
                }
            }
        }
    }
    #open{
        height: 100%;
        overflow: hidden;
        width: 100%;
        border: 2px solid rgb(65, 65, 65);
    }
    #close{
        height: 0px;
        overflow: hidden;
    }
}