.box {
    height: 250px;
    background: lightgray;
    box-shadow: 0px 0px 5px gray;
    margin: 10px 0px;
    img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
}

h1 {
    font-size: 2em;
    font-weight: bold;
    padding: 20px 0px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    box-shadow: 0px 0px 5px gray;
    margin: 20px 0px;
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s ease;
    &:hover {
        background: lightgray;
        color: red;
    }
}