.container:nth-of-type(1) .row{
    height: 30px;
}
.container:nth-of-type(2) .row{
    height: 100px;
}
.container:nth-of-type(3) .row{
    height: 400px;
}
.container:nth-of-type(4) .row{
    height: 300px;
}
.container:nth-of-type(5) .row{
    height: 200px;
}
.container:nth-of-type(1) .row .col-3{
    align-self: center;
} 
.container:nth-of-type(2) .row .col-6{
    text-align: center;
    object-fit: contain;
}
.container:nth-of-type(2) .row .col-6{
    align-self: center;
}
.container:nth-of-type(3) .row .col-12{
    position: relative;
}
.container-btn{
    position: absolute;
    bottom: 50px;
    right: 70px;
    padding: 12px 30px;
    box-shadow: inset 0 0 5px grey;
    background-color: lightseagreen;
    color: white;
}
.icon{
    margin: auto 10px;
}
.icon:hover{
    font-size: 150%;
}
.btn{
    background-color: transparent;
    border: white;
}
.btn:hover{
    background-color: rgb(158, 154, 154);
}
.logo{
    height:94px ;
    width: 400px;
    size: border-box;

}
.submit{
    background-color: transparent;
}
